/* common css */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* =================== Navbar css Start ============================== */

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

#navbar .navbar-main {
    display: flex;
}

#navbar .logo {
    width: 20%;
    padding-top: 30px;
}

#navbar .menu {
    width: 80%;
    text-align: right;
}

#navbar .menu ul li {
    display: inline-block;
    padding-left: 55px;
}

#navbar .menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
    line-height: 80px;
    text-transform: uppercase;
    position: relative;
    transition: 0.4s;
}

#navbar .menu ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -12px;
    width: 0;
    height: 3px;
    background: #fce38a;
    opacity: 0;
    transition: 0.4s;
}


#navbar .menu ul li a:hover::after {
    opacity: 1;
    width: 100%;
}

#navbar .menu ul li a:hover {
    color: #fce38a;
}

/* ============================= Banner Part css Start ============================== */

#banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    padding-top: 239px;
    padding-bottom: 231px;
    position: relative;
}

#banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

#banner .banner-content {
    text-align: center;
    position: relative;
    z-index: 9;
}

#banner .banner-content h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: #ffff;
}

#banner .banner-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #ffff;
    padding: 0 100px;
    padding-bottom: 70px;
    position: relative;
    text-transform: uppercase;
}

#banner .banner-content h1::after {
    position: absolute;
    content: '';
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #fff;
}

#banner .banner-content a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 12px 30px;
}

/* ======================= Story Part css Start =============================== */

#story {
    padding-top: 90px;
    padding-bottom: 104px;
}

.story-main {
    text-align: center;
}

.story-main h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.story-main h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    padding-bottom: 73px;
    position: relative;
}

.story-main h2::after{
    position: absolute;
    content: '';
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #f38181;
}

.story-main p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

/* =============================== About Part css Start ======================= */

#about{
    padding-bottom: 107px;
}

#about .about-main{
    display: flex;
    justify-content: space-between;
}

#about .about-item{
    width: 370px;
    position: relative;
}

#about .about-item .about-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

#about .about-item:hover .about-overlay{
    opacity: 1;
}

#about .about-item img{
    width: 100%;
}

#about .about-item .about-content{
    text-align: center;
    color: #fff;
    
}

#about .about-item .about-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

#about .about-item .about-content i {
    font-size: 22px;
    padding-bottom: 5px;
}

/* ======================= Counter Part css Start ========================= */

#counter {
    background: #95e1d3;
    padding-top: 90px;
    padding-bottom: 90px;
}

#counter .counter-main {
    display: flex;
    justify-content: space-between;
}

#counter .counter-item {
    width: 170px;
    text-align: center;
}

#counter .counter-item h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
}

#counter .counter-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.extra {
    margin-left: 0;
}

/* ===================== Service Part css Start =============================== */

#service {
    padding-top: 110px;
    padding-bottom: 100px;
}

#service .service-head {
    text-align: center;
    margin-bottom: 30px;
}

#service .service-head h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
}

#service .service-head h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}

#service .service-head h2::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #f38181;
}

#service .service-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#service .service-item {
    width: 370px;
    display: flex;
    margin-top: 100px;
}

#service .service-item .service-left {
    width: 70px;
    text-align: center;
}

#service .service-item .service-right {
    width: 300px;
}

#service .service-item .service-right h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#service .service-item .service-right p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}